<div class="row">

<div class="well span6">
  <p class="text-info">Well she used to have an IQ of 6000. Now she can answer any question as long as it's in the following format: </p>
  <p> What is <strong>[number] {operation} [number]</strong> <em>{operation} [number]</em> ?</p>

  <br>
  <p>Example: What is 70 plus 3 multiplied by 10?</p>
  <p>Example: What is 70 divided by 10?</p>

  <br>
  <p class="text-info">Holly also accepts voice input if you're using Google Chrome! Also make sure you have sound on if you want to hear Holly answer your question.</p>

  <h4>Valid operations:</h4>
  <ul>
    <li>plus</li>
    <li>minus</li>
    <li>multiplied by</li>
    <li>divided by</li>
  </ul>
</div>




<div class="well span6">
  <!-- Greeting -->
  <h3><span class="text-success">Holly: What's happening, dudes?</span></h3>

  <!-- Input from User -->
  <div class="form-inline">
  <%= form_tag wordproblems_answer_path, remote: true, :authenticity_token => true do %>
    <%= text_field_tag :question, "", :"x-webkit-speech" => "" %>
    <%= check_box_tag :sound, "off", false, class: "checkbox" %>
    <%= label_tag :sound, "No Sound", class: "checkbox inline" %>
    <%= submit_tag "Calculate", class: "btn btn-primary"  %>
  <% end %>
  </div>

  <!-- Holly Answers -->
  <% if flash[:alert] %>
    <%= render 'validationerrors' %>
  <% end %>
  <div id="answer">
  </div>
</div>





